
#NavBar {
    background-color: #34CED8;
}

.icon {
    width: 32px;
    border-radius: 50%;
}

.icon-container {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.icon:hover {
    /* width: 35px; */
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.88); 
box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.88);
}

#button-container {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttonCount {
    border-style: none;
    background-color: white;
}

.buttonCount img {
    width: 1rem;
}

#counter {
    font-size: 1rem;
    color: white;
    background-color:#34CED8;
    padding: 1rem;
    border-radius: 10%;
}

.items-container {
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}

.item {
    width: 20%;
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5%;
}